{% extends 'base.html' %}
{% block content %}
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">아로새기다 소개</h1>
                    <h5><p class="fst-italic text-muted">회상 요법(Life Review Therapy)과 3차원적 그림 그리기를 통한 인지기능 훈련</p></h5>
                    <p class="lead fw-normal text-muted mb-4">
                        '작년 크리스마스를 기억하고 계신가요?' '어린 시절을 영화로 만든다면 어
                        떤 영화가 되고 싶나요?'와 같은 과거 회상 질문을 통해 기억력을 향상시킨
                        다. VR 환경에서 그림을 그리고 조작하며 3차원 시각 정보를 처리하고, 문제
                        의 위치와 거리 등을 인지하는 공간 능력을 향상시킨다. 연령대의 특성을 고
                        려하여 새록이라는 캐릭터가 프로그램 진행 및 응원을 해줌으로써, 활동에
                        대한 용기를 북돋아 주고 지속적인 참여에 도움을 준다.
                    </p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">기억력</h2>
                <p class="lead fw-normal text-muted mb-0">
                    과거를 기억하여 그림을 그리는 과정에서 기억을 활성화시키고 회상하는 데에 도움을 주며, 경험과 추억을 되새기고 연상하면서 기억력을 향상시킨 다.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">집중력 및 주의력</h2>
                <p class="lead fw-normal text-muted mb-0">
                    VR이란 특수한 환경은 주변에서의 간섭이 적고 몰입감이 높아 집중력을 향상시킨다.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">문제해결 및 추론 능력</h2>
                <p class="lead fw-normal text-muted mb-0">
                    그림을 그리는 동안 물체의 형태와 구조, 조합을 고려하고 결정하면서 추론과 문제 해결에 필요한 능력을 향상시킨다.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">공간능력</h2>
                <p class="lead fw-normal text-muted mb-0">
                    VR환경에서 그림을 그리고 조작하면서 3차원적인 시각 정보를 처리하고 문제의 위치, 거리 등을 인지하는 공간능력을 향상시킨다.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">우울증 치료</h2>
                <p class="lead fw-normal text-muted mb-0">
                    경도인지장애 환자들을 위한 회상요법을 통해 인지기능 저하와 함께 나타날 수 있는 불쾌감, 무감동, 불안, 우울증, 공격성 등의 정신적 증상을 완화시키고 우울한 감정을 긍정적인 감정으로 유도하여 감정조절을 돕는다.

                </p>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}