{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-2 fw-bolder text-white mb-2">아 로 새 기 다</h1>
                                <p class="lead fw-normal text-white-50 mb-4">;마음속에 또렷이 기억하여 두다.</p>
                                <p style="color: white;">VR로 다시 만나는 마음속 추억,</p>
                                <p style="color: white;">또렷이 그려나가는 나의 옛날 이야기</p>
                                <p style="color: white;">당신의  추억이  보낸  편지를  확인해보세요.</p>
                                <br>
                                <a class="btn btn-primary btn-lg" href="mymail/">확인하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
{% endblock %}