{% extends 'base.html' %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">나의 편지함</h1>
            <p class="lead fw-normal text-muted mb-0">지금까지의 편지를 확인하고 글로 남겨보세요.</p>
        </div>
        <div class="row gx-5">
            <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">총 편지 {{active_count}}개</h2>
                <div class="accordion mb-5" id="accordionExample">
                    {% if question_list %}
                    {% for question in question_list %}
                    <div class="accordion-item">
                        <a href="{% url 'detail' question.id %}">
                            <h3 class="accordion-header" id="heading{{ question.id }}"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ question.id }}" aria-expanded="true" aria-controls="collapse{{ question.id }}">{{question.question_text}}</button></h3>
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>출력할 내용이 없어요.</p>
                    {% endif %}
                </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">궁금한 점 있으시나요??</div>
                                <p class="text-muted mb-4">
                                    Contact us at
                                    <br />
                                    <a href="#!">32190746@dankook.ac.kr</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <!--<a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>-->
                                <!--<a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>-->
                                <!--<a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>-->
                                <a class="fs-5 px-2 link-dark" href="https://youtube.com/@sotogito2139?si=pffSyfeR2dKmGpf3" target="_blank"><i class="bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}